USE [master]
GO
/****** Object:  Database [BlogPost_PRN221]    Script Date: 05/03/2024 00:58:56 ******/
CREATE DATABASE [BlogPost_PRN221]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BlogPost_PRN221', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BlogPost_PRN221.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BlogPost_PRN221_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BlogPost_PRN221_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BlogPost_PRN221].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BlogPost_PRN221]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 05/03/2024 00:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](255) NOT NULL,
	[Is_Delete] [bit] NOT NULL,
 CONSTRAINT [account_id_primary] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogPost]    Script Date: 05/03/2024 00:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogPost](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[Heading] [nvarchar](255) NOT NULL,
	[PageTitle] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](255) NOT NULL,
	[ShortDescription] [nvarchar](255) NOT NULL,
	[Image_Url] [nvarchar](255) NOT NULL,
	[Url_Handle] [nvarchar](255) NOT NULL,
	[PublishedDate] [datetime] NOT NULL,
	[Visible] [bit] NOT NULL,
 CONSTRAINT [blogpost_id_primary] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogPostComment]    Script Date: 05/03/2024 00:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogPostComment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[BlogPostId] [int] NOT NULL,
	[AccountId] [int] NOT NULL,
	[DateAdded] [datetime] NOT NULL,
 CONSTRAINT [blogpostcomment_id_primary] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogPostLike]    Script Date: 05/03/2024 00:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogPostLike](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BlogPostId] [int] NOT NULL,
	[AccountId] [int] NOT NULL,
 CONSTRAINT [blogpostlike_id_primary] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 05/03/2024 00:58:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[BlogPostId] [int] NOT NULL,
 CONSTRAINT [tags_id_primary] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ('0') FOR [Is_Delete]
GO
ALTER TABLE [dbo].[BlogPost] ADD  DEFAULT ('0') FOR [Visible]
GO
ALTER TABLE [dbo].[BlogPost]  WITH CHECK ADD  CONSTRAINT [blogpost_accountid_foreign] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[BlogPost] CHECK CONSTRAINT [blogpost_accountid_foreign]
GO
ALTER TABLE [dbo].[BlogPostComment]  WITH CHECK ADD  CONSTRAINT [blogpostcomment_accountid_foreign] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[BlogPostComment] CHECK CONSTRAINT [blogpostcomment_accountid_foreign]
GO
ALTER TABLE [dbo].[BlogPostComment]  WITH CHECK ADD  CONSTRAINT [blogpostcomment_blogpostid_foreign] FOREIGN KEY([BlogPostId])
REFERENCES [dbo].[BlogPost] ([Id])
GO
ALTER TABLE [dbo].[BlogPostComment] CHECK CONSTRAINT [blogpostcomment_blogpostid_foreign]
GO
ALTER TABLE [dbo].[BlogPostLike]  WITH CHECK ADD  CONSTRAINT [blogpostlike_accountid_foreign] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[BlogPostLike] CHECK CONSTRAINT [blogpostlike_accountid_foreign]
GO
ALTER TABLE [dbo].[BlogPostLike]  WITH CHECK ADD  CONSTRAINT [blogpostlike_blogpostid_foreign] FOREIGN KEY([BlogPostId])
REFERENCES [dbo].[BlogPost] ([Id])
GO
ALTER TABLE [dbo].[BlogPostLike] CHECK CONSTRAINT [blogpostlike_blogpostid_foreign]
GO
ALTER TABLE [dbo].[Tags]  WITH CHECK ADD  CONSTRAINT [tags_blogpostid_foreign] FOREIGN KEY([BlogPostId])
REFERENCES [dbo].[BlogPost] ([Id])
GO
ALTER TABLE [dbo].[Tags] CHECK CONSTRAINT [tags_blogpostid_foreign]
GO
USE [master]
GO
